ENVIRONMENT=develop
#path where ENVIRONMENT folder structure will be created. See README.md file
BASE_PATH=/srv
CHIRPSTACK_PORT=8080
CS_REST_API_PORT=8090
CS_G_BRIDGE_PORT=1700
CS_G_B_BASIC_PORT=3001
CS_REDIS_PORT=6379
CS_MOSQUITTO_MQTT_PORT=1883
CS_DB_PORT=5432
POSTGRES_DB=chirpstack_database_name
POSTGRES_USER=database_user
POSTGRES_PASSWORD=user_password


